{% extends "network/layout.html" %}

{% block body %}

    <h2 style='padding:10px; color: #0e68b3; display: flex; justify-content: center; font-family: Gill Sans; margin-top: 15px; font-size: 50px;'>Login</h2>

    {% if message %}
    <div class="alert alert-danger w-25 p-3 d-flex justify-content-center" style="margin:auto;" role="alert">
        <div>{{ message }}</div>
      </div>
        
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div style="display: flex; justify-content: center; padding: 8px; margin-top: 10px;">
            <input id="focus" style='width:500px; height: 40px; border-radius: 8px; border: none; outline: none;' autofocus class="form-control" type="text" name="username" placeholder="Username">
        </div>
        <div style="display: flex; justify-content: center; padding: 8px; margin-top: 10px;">
            <input id="focus" style='width:500px; height: 40px; border-radius: 8px; border: none; outline: none;' class="form-control" type="password" name="password" placeholder="Password">
        </div>
        <div style='text-align:center; padding-top: 0px; margin-top: 0px;'>Don't have an account? <a href="{% url 'register' %}">Register here.</a></div>
        <div style='text-align:center;'><input style='width:400px; margin-top:10px; border-radius: 15px;'  class="btn btn-primary" type="submit" value="Login"></div>
    </form>

    

{% endblock %}